<!--
000859536
David VanAsselberg
11/07/2022
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
          <th>name</th>
          
        </tr>
        <% for (var i = 0; i < newListItems.length ; i++) { %>
        <tr>
          
          <td> <%- newListItems[i].name %> </td>
          
        </tr>
        <% } %>
      </table>
</body>
</html>